.planet_page {
  height: 100vh;
}

.planet_page .content {
  height: 100%;
  width: 100%;
  display: flex;
}

.planet_page .blog {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}

.planet_page .planet_page_nav {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 5px;
}

.planet_page .blog.admin {
  width: 100%;
  padding-top: 80px;
  justify-content: start;
  margin: 0;
  padding-left: 5%;
}

.planet_page .decoration_block {
  z-index: -1;
  position: absolute;
  inset: 0;
  height: 50%;
  width: 100%;
  background: linear-gradient(to bottom, var(--gray), transparent);
}

.planet_page .decoration_block::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 200%;
  width: 2px;
  background: linear-gradient(to bottom, var(--gray-light), transparent);
}

.planet_page .decoration_block::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 200%;
  width: 2px;
  background: linear-gradient(to bottom, var(--gray-light), transparent);
}

.planet_page .about {
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.planet_page .about p {
  color: var(--gray-light);
}

.planet_page .about>h1 {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.planet_page textarea {
  padding: 5px;
  border: 1px solid var(--gray-light);
}

.planet_page .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.planet_page .info.admin {
  gap: 0px;
  margin-bottom: 10px;
}

.planet_page .info:not(.admin) p {
  margin-left: 20px;
}

.planet_page .info h3 {
  color: var(--accent);
}

.planet_page .image_buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 20px;
}

.planet_page .image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.planet_page .image.admin {
  align-items: start;
}

.planet_page .one_planet {
  width: 60%;
}

.planet_page .one_planet.small {
  max-width: 250px;
  width: 50%;
  aspect-ratio: 1;
}

.planet_page-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 50px;
}

@media (max-width: 768px) {
  .planet_page {
    height: 100%;
  }

  .planet_page .content {
    flex-direction: column;
  }

  .planet_page .about {
    margin-block: 90px 100px;
  }

  .planet_page .blog {
    margin-left: 0;
    padding-inline: 15px;
  }

  .nav_planet {
    padding-left: 20px;
  }

  .planet_page .image {
    margin-top: 50px;
  }
}