.card {
  position: relative;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid var(--gray-light);
  background-color: transparent;
}

.card:hover .planet {
  scale: 1.05;
}

.card:hover .planet::before {
  height: 180%;
}

.card:hover .planet::after {
  height: 300%;
}

.card .content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  color: white;
  padding: 20px;
  padding-right: 30px;
}

.card .content .add_button {
  color: var(--gray-light);
  transition: .3s
}

.card .content .add_button:hover {
  color: var(--accent);
}

.card .content a {
  transition: .3s;
  color: var(--gray-light);
}

.card .content a:hover {
  color: var(--white);
}

.card h3 {
  text-wrap: pretty;
}

@media (max-width: 768px) {
  .card {
    height: 120px;
  }

  .card .content {
    gap: 5px;
  }
}